/*
Theme Name:  Direct Quiz Theme
Theme URI:  https://www.niko.ovh
Description:  Theme for support game system
Author:  Nicolas Giacomello
Textdomain:  niko300
Author URI:  https://www.niko300.be/
Template:  twentynineteen
Version:  1.0
License:  GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html                 
*/

.new-game > span
{
	cursor: pointer;
}


	#fond-public
	{
		background-image : url('../images/fond-public.png');
		background-repeat: no-repeat;
		background-color : black;
	}

	.pseudonyme
	{
		margin-left: -24px;
	}
	
	.microavatar
	{
		width: 16px;
		height: 16px;
		border: 1px solid white;
		border-radius: 2px 2px 2px 2px;
	}

	#kd8e6g52f6d85e2d6f2, #nickname
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f2
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
	}
	
	#kd8e6g52f6d85e2d6f3
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f3
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
		background-color: #e33;
	}
	
	#kd8e6g52f6d85e2d6f4
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f4
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
		background-color: #111;
	}
	
	
	#nickname
	{
		border-radius: 0px 7px 7px 0px;
	}
	
	
	#avatarAnimateur
	{
		width: 294px;
		border: 3px solid darkblue;
		line-height: 0;
	}
	
	#animation-presentateur
	{
		display: block;
		line-height: 0;
	}
	
	#listeMembre
	{
		border-collapse : collapse;
	}	
	
	#listeMembre tr
	{
	
	}
	
	#listeMembre td
	{
		
		height: 70px;
		width: 250px;
		border: 3px solid darkblue;
		background-color : #8e7a9e;
		padding: 7px;
		color: white;
		font-weight: bold;
		font-size : 0.8em;
		box-shadow: 0px 0px 12px rgba(255,255,255,0.6) inset;
	}
	
	
		.message
		{
			background-color: lightblue;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			width: 100%;
		}
		
		.annonce1
		{
			background-color: lightgreen;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:green;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce2
		{
			background-color: salmon;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:red;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce3
		{
			background-color: orange;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:red;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce4
		{
			background-color: yellow;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce111 /* Discord */
		{
			background-color: #7289da;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color: #faf7f9;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce5
		{
			background-color: red;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce6
		{
			background-color: red;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			font-weight: bold;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce98
		{
			background-color: aliceblue;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			font-weight: bold;
			color: #9AF;
			font-style: italic;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce555
		{
			background-color: #894AFF;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			font-weight: bold;
			color: white;
			width: 100%;
			word-wrap: break-word;
		}
		
		#annonceQuestionCadre
		{
			width: 100%;
		}
		
		#annonceQuestion
		{
			width: calc(100% - 65px);
			margin-bottom: -24px;
			margin-left : 6px;
			height: 85px;
			border-radius: 5px 5px 5px 5px;	
			word-wrap: break-word;
			padding : 7px;
			color: white;
			font-weight : bold;
			font-size : 0.8em;
			overflow-y : auto;
			display: inline-block;
		}
		
		/* New game */
.new-game {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-wrap: wrap;
    width: 90%;
    height: 220px;
    margin-left: 1rem;
    margin-top: 1rem;
}

.new-game-title {
    color: white;
    font-size: 1.6em;
    padding: 0;
    margin: 0.2em 0 0.2em 0;
    font-weight: bold;
}

.new-game-easy, .new-game-normal, .new-game-hard {
    box-shadow: 0 8px 25px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    color: white;
    font-weight: bold;
    max-width: 70%;
    line-height: 2.5rem;
    box-sizing: border-box;
    margin-bottom: 3px;
    margin-right: 3px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    border: solid 1px white;
}

.new-game-easy {
    background-color: #8dd280;
}

.new-game-easy:hover {
	color: white;
    background-color: #9feb92;
}

.new-game-normal {
    background-color: #3d98d2;
}

.new-game-normal:hover {
	color: white;
    background-color: #49a6eb;
}

.new-game-hard {
    background-color: #eb7c70;
}
.new-game-hard:hover {
	color: white;
    background-color: #ff926e;
}

		#chatContent
		{
			width: 100%;
			height: 330px;
			background-color: black;
			border-radius: 10px 10px 0px 0px;
			border : 3px solid darkblue;
			border-bottom-width : 0;
			overflow: scroll;
			scrollbar-width: none;
			word-wrap: break-word;
			margin-top : 8px;
		}
		
		#chatContent::-webkit-scrollbar {
			display: none;  /* Hide scrollbar on Safari and Chrome */
		}
		
		#msgToSend
		{
			border-radius: 0px 0px 10px 10px;
			border : 3px solid darkblue;
			border-top : 12px solid black!important;
			background-color : black;
			color: white;
			height : 45px!important;
			width : 100%;
			font-size : 1.2em;
			padding-top: 5px!important;
			padding-bottom: 10px!important;
			padding-left: 25px;
			font-family : Arial;
	
		}
		
		#sender
		{
			display : none;
		}
		
		#currentConnected
		{
			color : darkgreen;
			text-decoration : underline;
		}
		
		#plateau
		{
			background-color: #a599cd;
			width: 90%!important;
			margin-right: auto;
			margin-left: auto;
			margin-top: -70px;
			padding:20px;
			border-radius: 16px 16px 16px 16px;
			box-shadow : 0px 0px 10px #000;
			border: 1px solid darkblue;
		}
		
		#chrono
		{
			width:48px;
			
			display: inline-block;
		}
		
		
		table td
		{
			border-width: 0;
		}
		
		.icone-info
		{
			width:25px;
			height: 25px;
		}
		
		
		.avatar
		{
			position: relative;
			left: 0;
			z-index: 5;
			
			border-radius: 4px 4px 4px 4px;
			border : 2px solid white;
			width:38px;
			height: 38px;
			box-shadow: 0px 0px 3px #000;
			float:left;
	
		}
		
		.avatar-level
		{
			position: relative;
			left: -38px;
			z-index: 10;
			
			border-radius: 4px 4px 4px 4px;
			border : 2px solid transparent;
			width:38px;
			height: 38px;


		}
		
		.points
		{
			float:right;
			margin-right:8px;	
			border: 1px solid darkblue;
			background-color: #3c8845;
			padding: 5px;
			font-size : 0.9em;
			border-radius: 15px 15px 15px 15px;
		}
		
		.pictures { font-size: 0px; }
		

.pictures .item {
  position: relative;
  display: inline-block;
  margin : 5px;
}

.pictures .item img {
  position: relative;
  z-index: 11;
}

.pictures .item .item_description {
  position: absolute;
  z-index: 10;
  left: -15px;
  top: -15px;
  right: -15px;
  bottom: -60px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  padding: 15px;
  display: none;
}

.pictures .item .item_description span {
  color: #ffffff;
  font-size: 13px;
  display: block;
  position: absolute;
  bottom: 15px;
  height: 30px;
}

.pictures .item:hover { z-index: 100; }

.pictures .tjGalleryItem .item:hover .item_description { display: block; }


#resultat
{
	width:500px;
	height:500px;
	border : 2px solid gray;
	overflow-y : auto;
	overflow-x : hidden;
	padding: 15px;
	border-radius: 8px 8px 8px 8px;
	box-shadow : 3px 3px 10px rgba(0,0,0,0.5);
	background-image : url('https://directquiz.niko.ovh/dev/img/bg.jpg');
	display:none;
	position: absolute;	
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

.item-gif
{
	cursor:pointer;
}

.item-gif:hover
{
	cursor:pointer;
	box-shadow : 0px 0px 15px white;
}

		