/*
Theme Name:  Direct Quiz Theme
Theme URI:  https://www.niko.ovh
Description:  Theme for support game system
Author:  Nicolas Giacomello
Textdomain:  niko300
Author URI:  https://www.niko300.be/
Template:  twentynineteen
Version:  1.0
License:  GNU General Public License v2 or later
License URI: https://www.gnu.org/licenses/gpl-2.0.html                 
*/

	#kd8e6g52f6d85e2d6f2, #nickname
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f2
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
	}
	
	#kd8e6g52f6d85e2d6f3
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f3
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
		background-color: #e33;
	}
	
	#kd8e6g52f6d85e2d6f4
	{
		min-height: 15px;
		padding: 6px;
	}
	
	#kd8e6g52f6d85e2d6f4
	{
		border-radius: 7px 0px 0px 7px;
		width: 500px!important;
		font-size: 1.2em!important;
		background-color: #111;
	}
	
	
	#nickname
	{
		border-radius: 0px 7px 7px 0px;
	}
	
	
	#avatarAnimateur
	{
		width: 293px;
		height: 293px;
		border: 3px solid darkblue;
	}
	
	#listeMembre
	{
		border-collapse : collapse;
	}	
	
	#listeMembre tr
	{
	
	}
	
	#listeMembre td
	{
		
		height: 70px;
		width: 50px;
		border: 3px solid darkblue;
		background-color : #8e7a9e;
		padding: 7px;
		color: white;
		font-weight: bold;
		font-size : 0.8em;
		box-shadow: 0px 0px 12px rgba(255,255,255,0.6) inset;
	}
	
	
		.message
		{
			background-color: lightblue;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			width: 100%;
		}
		
		.annonce1
		{
			background-color: lightgreen;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:green;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce2
		{
			background-color: salmon;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:red;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce3
		{
			background-color: orange;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color:red;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce4
		{
			background-color: yellow;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce5
		{
			background-color: red;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		.annonce6
		{
			background-color: red;
			padding-left:20px;
			padding-right:20px;
			font-family : "Arial";
			font-size : 0.8em;
			font-weight: bold;
			color: black;
			width: 100%;
			word-wrap: break-word;
		}
		
		#annonceQuestion
		{
			width: 100%;
			height: 85px;
			background-color: black;
			border-radius: 5px 5px 5px 5px;
			border : 2px solid orange;		
			word-wrap: break-word;
			padding : 7px;
			color: white;
			font-weight : bold;
			font-size : 0.8em;
		}
		
		#chatContent
		{
			width: 100%;
			height: 550px;
			background-color: black;
			border-radius: 10px 10px 0px 0px;
			border : 3px solid darkblue;
			border-bottom-width : 0;
			overflow: hidden;
			word-wrap: break-word;
			margin-top : 8px;
		}
		
		#msgToSend
		{
			border-radius: 0px 0px 10px 10px;
			border : 3px solid darkblue;
			border-top : 12px solid black!important;
			background-color : black;
			color: white;
			height : 45px!important;
			width : 100%;
			font-size : 1.2em;
			padding-top: 5px!important;
			padding-bottom: 10px!important;
			padding-left: 25px;
			font-family : Arial;
	
		}
		
		#sender
		{
			display : none;
		}
		
		#currentConnected
		{
			color : darkgreen;
			text-decoration : underline;
		}
		
		#plateau
		{
			background-color: #afd0ed;
			width: 90%!important;
			margin-right: auto;
			margin-left: auto;
			padding:20px;
			border-radius: 16px 16px 16px 16px;
			box-shadow : 0px 0px 10px #000;
			border: 1px solid darkblue;
		}
		
		table td
		{
			border-width: 0;
		}
		
		.icone-info
		{
			width:25px;
			height: 25px;
		}
		
		.avatar
		{
			border-radius: 4px 4px 4px 4px;
			border : 2px solid white;
			width:38px;
			height: 38px;
			box-shadow: 0px 0px 3px #000;
			float:left;
			margin-right : 6px;
		}
		
		.points
		{
			float:right;
			margin-right:8px;	
			border: 1px solid darkblue;
			background-color: #3c8845;
			padding: 5px;
			font-size : 0.9em;
			border-radius: 15px 15px 15px 15px;
		}
		
		.pictures { font-size: 0px; }

.pictures .item {
  position: relative;
  display: inline-block;
  margin : 5px;
}

.pictures .item img {
  position: relative;
  z-index: 11;
}

.pictures .item .item_description {
  position: absolute;
  z-index: 10;
  left: -15px;
  top: -15px;
  right: -15px;
  bottom: -60px;
  -webkit-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  -moz-box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.4);
  padding: 15px;
  display: none;
}

.pictures .item .item_description span {
  color: #ffffff;
  font-size: 13px;
  display: block;
  position: absolute;
  bottom: 15px;
  height: 30px;
}

.pictures .item:hover { z-index: 100; }

.pictures .tjGalleryItem .item:hover .item_description { display: block; }

#resultat
{
	width:500px;
	height:500px;
	border : 2px solid gray;
	overflow-y : auto;
	overflow-x : hidden;
	padding: 15px;
	border-radius: 8px 8px 8px 8px;
	box-shadow : 3px 3px 10px rgba(0,0,0,0.5);
	background-image : url('https://directquiz.niko.ovh/dev/img/bg.jpg');
	display:none;
	position: absolute;	
	left: 50%;
	top: 50%;
	margin-top: -250px;
	margin-left: -250px;
}

.item-gif
{
	cursor:pointer;
}

.item-gif:hover
{
	cursor:pointer;
	box-shadow : 0px 0px 15px white;
}
		
		